body {
    padding: 25px;
    background-color: blanchedalmond;
}

.tab-pane {
    padding: 10px;
}
#home {
    background-color: red;
}

#shop {
    background-color: green;
}

#contact {
    background-color: blue;
    color: aliceblue;
}






#newletter h1{
    float: left;
}
#newletter form{
    float: right;
    margin-top: 15px;
}
#newletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}


